@import	url("https://fonts.googleapis.com/css2?family=Lora&family=Roboto:wght@300&display=swap$");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("components/container.css");
@import	url("components/Avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
p {
	font-family: 'Lora', serif;
	font-size: 18px;
}
H1, H2, H3 {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}
a{
	text-decoration: none;
}